
.metodoPago {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 10rem;
    padding-top: 1.5rem;
    position: relative;

    &__arrows {
        display: flex;
        justify-content: space-between;
        width: 85%;
        color: #BBBBBB;
        position: absolute;
        top: 1rem;
    }

    &__metodos {
        display: flex;
        width: 100vw;
        height: 15rem;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__metodosDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding: 0 1rem;
    }

    &__entity {
        color: white;
        margin: 0;
        padding: 0;
    }

    &__acount {
        color: whitesmoke;
        font-size: 0.8rem;
        margin: 0.1rem;
    }

    &__card {
        width: 65vw;
        height: 4rem;
        margin-top: 1rem;
        border-radius: 0.5rem;
        position: relative;
    }

    &__tipo {
        color: white;
        font-weight: bold;
        margin: 0.5rem;
    }

    &__number {
        color: white;
        margin: 0.5rem 0.5rem;
    }

    &__logo {
        position: absolute;
        bottom: 0.4rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
    }
}