
.movimientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;    
    height: calc(100vh - 13.5rem - 10rem - 4rem);
    margin-top: 1rem;
    background-color: #19191D;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 13.5rem;
        background-color: #242328;
        border-radius: 0 0 3.125rem 3.125rem;        
    }

    &__boton {
        margin-bottom: 3rem;
    }

    &__history {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        img {
            width: 10rem;
        }
    }

    &__hist {
        width: 100%;
    }

    &__histHeader {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 2rem;
        
        h5 {
            color: #1CAEA3;
            margin: 0 0.8rem;
        }

        img {
            width: 1rem;
            height: 1rem;
            margin-right: 1rem;
        }
    }

    &__histDiv {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: calc(100vh 
                - 14.5rem /*metPago y menu*/ 
                - 15rem /*saldo*/);
        
    }
}