.Main {
    height: 100vh;
    background-color: var(--dark);
    font-family: var(--font-family);
    padding-top: 82px;
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        .saldo {
            color: var(--white);
            display: flex;
            flex-direction: column;
            .montoActual {
                font-style: normal;
                font-weight: 600;
                font-size: 38px;
                line-height: 30px;
                text-align: center;
                margin: 0;
            }
            .subTitle {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: -0.408px;
                font-feature-settings: 'case' on;
            }
        }
        .profile {
            display: flex;
            align-items: center;
            height: fit-content;
            .profilePhoto {
                width: 48px;
                height: 48px;
                border-radius: 14px;
                border: 1px solid var(--white);
                margin-left: 6px;
            }
            .notificationIcon {
                width: 24px;
                height: 24px;
                margin-right: 6px;
            }
        }
    }
    .history {
        .historyNav {
            display: flex;
            padding: 0 20px;
            align-items: center;
            justify-content: space-between;
            color: var(--green);
        }
        .history_list {
            ul {
                margin: 0;
                padding: 0;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    list-style: none;
                    border-top: 1px solid #484848;
                    padding: 0 16px;
                    .date {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 25px;
                        height: 44px;
                        margin: 0;
                        padding: 0;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        text-align: center;
                        color: #bbbbbb;
                        span {
                            font-size: 14px;
                        }
                    }
                    .desc {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: #bbbbbb;
                    }
                    .mount {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        text-align: right;
                        color: #bbbbbb;
                    }
                }
            }
        }
    }
}
